<div class="top-rated box">
  <%= link_to "Most Viewed" %>
  <%= link_to "Most Queried" %>
  <%= link_to "Latest" %>
  <ol>
    <%= top_rated_links(["First Link", "Second Link", "Third Link"]) %>
  </ol>
</div>