<%= div_for definition do %>

    <%= render partial: 'definitions/definition_header', locals: {definition: definition} %>

    <p>
      <small>
        <%= definition.definition_text %>
      </small>
    </p>

    <%= render partial: 'definitions/definition_footer', locals: {definition: definition} %>

<% end %>