
<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h4>Latest Blog Post</h4><br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit nisl ac metus porta placerat... <a href="#">Read more &rarr;</a></p>
      </div>
      <div class="span3">
        <h4>Quick Links</h4><br />
        <div class="row">
          <div class="span1">
            <ul class="unstyled">
              <li><a href="index.html">Home</a></li>
              <li><a href="tour.html">Tour</a></li>
              <li><a href="#">Help Desk</a></li>
            </ul>
          </div>
          <div class="span1">
            <ul class="unstyled">
              <li><a href="plans.html">Plans</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>
          <div class="span1">
            <ul class="unstyled">
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span3">
        <h4>Contact Us!</h4><br />
        <address>
          <strong>StartupTheme, Inc.</strong><br />
          795 Sea of Tranquility, Suite 600<br />
          The Moon, MOON 94107
        </address>
      </div>
      <div class="span3">
        <h4>Newsletter</h4><br />
        <p>Subscribe to our newsletter!</p>
        <form id="form" class="form-inline">
          <input type="text" value="" name="email" class="input-medium email" id="email" placeholder="Your email address">
          <input type="submit" value="Subscribe" name="subscribe" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>

  <div class="final-footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <p>&copy; <a href="#">StartupTheme</a> 2012, all right reserved.</p>
        </div>
        <div class="span8">
          <ul class="footer-ul pull-right">
            <li class="inline"><a href="#">Help Desk</a></li>
            <li class="inline"><a href="#">Privacy Policy</a></li>
            <li class="inline"><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>